<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="qbs.mapper.MultiMapper">

	<select id="findAll" resultType="Multi">
		SELECT * FROM MULTI_TAB
	</select>

	<select id="findBySubject" resultType="Multi">
		SELECT * FROM MULTI_TAB WHERE SUBJECTNAME = #{subjectName}
	</select>
	
	<insert id="addMulti" parameterType="Multi">

		<!-- 获取序列 -->
		<selectKey keyProperty="id" resultType="java.lang.Long"
			order="BEFORE">
			select multi_seq.nextval from dual
		</selectKey>

		insert into
		multi_tab(ID,ACADEMYNAME,SUBJECTNAME,CHAPTERNAME,DIF_COEFFICIENT,BODY,OPTIONA,OPTIONB,OPTIONC,OPTIOND,OPTIONE,ANSWER)
		<!-- 获取上面的字段 -->
		values(
		#{id,jdbcType=INTEGER},
		#{academyName,jdbcType=VARCHAR},
		#{subjectName,jdbcType=VARCHAR},
		#{chapterName,jdbcType=VARCHAR},
		#{dif_coefficient,jdbcType=VARCHAR},
		#{body,jdbcType=VARCHAR},
		#{optionA,jdbcType=VARCHAR},
		#{optionB,jdbcType=VARCHAR},
		#{optionC,jdbcType=VARCHAR},
		#{optionD,jdbcType=VARCHAR},
		#{optionE,jdbcType=VARCHAR},
		#{answer,jdbcType=VARCHAR}
		)
	</insert>
	
	<delete id="delMulti">
		delete from multi_tab where id = #{id}
	</delete>
	
	<delete id="delMultis" parameterType="Long">
		delete from multi_tab where id in 
		 <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
	</delete>
	
	<update id="updateMulti" parameterType="Multi">
		update multi_tab set chaptername = #{chapterName},dif_coefficient = #{dif_coefficient},body = #{body},optiona = #{optionA},optionb = #{optionB},optionc = #{optionC},optiond = #{optionD},optione = #{optionE},answer = #{answer}    where id = #{id}
	</update>
	
	<select id="findByPaperForm" resultType="Multi">
		SELECT * FROM MULTI_TAB
		WHERE SUBJECTNAME = #{subjectName} AND DIF_COEFFICIENT = #{dif_coefficient} AND CHAPTERNAME in
		<foreach collection="chapterList" item="chapterName" 
            open="(" separator="," close=")" >
            #{chapterName}
        </foreach>
	</select>

</mapper>